[Unit]
Description=Capiamo Backend
After=network.target

[Service]
User=luca
WorkingDirectory=/home/luca/capiamo/backend
Environment="DATABASE_URL=postgresql+psycopg2://capiamo_user:c4p14m0@localhost/capiamo"
ExecStart=/home/luca/capiamo/backend/venv/bin/uvicorn main:app --host 0.0.0.0 --port 9090
Restart=always

[Install]
WantedBy=multi-user.target
